caption{
    background-color: lightgray;
}

table, caption, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

thead th{
    background-color: white;
}

tbody th {
    background-color: lightgray;
}
tr:nth-child(even){
    background-color: lightgreen;
}

tbody tr:nth-child(odd){
    background-color: lightblue;
}


tr:first-child{
    background-color: white;
}


