td {
    text-align: center;
}

/*
.gris {
    background-color: lightgray;
}

.bleu {
    background-color: lightblue;
}

.vert {
    background-color: lightgreen;
}
*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}





tr:nth-child(even){
    background-color: lightblue;
}

tr:nth-child(odd){
    background-color: lightgreen;
}
thead tr th {
    background-color: lightgrey;
}

tr:first-child{
    background-color: white;
}

tfoot:last-child {
    background-color: white;
}